

<h1>Brew Logo</h1>

@*<form action="Home/SetRecipe">
        <p>Dose: </p>
        <input type="number" name="Dose" />
        <br />
        <p>Grind: </p>
        <input type="number" name="Grind"/>
        <br />
        <p>Body: </p>
        <input type="radio" name="Body" value="thin"/>Light
        <br />
        <input type="radio" name="Body" value="heavy" />Heavy
        <br />
        <p>Taste: </p>
        <input type="radio" name="Extraction" value="bitter" />Bitter
        <br />
        <input type="radio" name="Extraction" value="sour" />Sour
        <br />
        <input type="submit" />
    </form>*@


@model IEnumerable<Brew.Models.Recipe>

@{
    ViewData["Title"] = "View";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roaster)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form >
        <tr>
            <td>
                <input type="text" placeholder="Origin" name="origin" />
            </td>
            <td>
                <input type="text" placeholder="Roaster" name="roaster" />
            </td>
            <td>
                <input type="submit" />
                @*<a asp-action="Delete" asp-route-id="">Create!</a>*@
            </td>
        </tr>

        </form>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roaster)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
